html, body {
  height: 100%;
  background: #E9D7D1;
}
img {
  width: 100%;
}

div.container {
  height: 100%;	
  display: flex;
  justify-content: center; /* align horizontally */
  align-items: center; /* align vertically */

}

div.content {
  max-width: 50em;
  padding: 2em;
}

div.header {
  margin-bottom: 1.2em;
  max-width: 30em;
}

h1 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Zilla Slab', 'Times New Roman', serif;
  color: #3a3a3a;
  font-weight: 300;
  font-size: 120%;
  line-height: 150%;
}

a {
  color: #3a3a3a;
  text-decoration: underline;
}

a:hover {
  font-weight: 800;
}

img.logo {
  width: 60%;
}